@startuml
title Composition View - {{ view.system_name }}
top to bottom direction
skinparam legendBackgroundColor #FFFFFF
skinparam legendBorderColor #FFFFFF
skinparam legendEntrySeparator #FFFFFF

{% for instance in view.instances %}
component "{{ instance.name }}" as {{ instance.id }} {{ instance.fill_color }} {
{% for port in instance.incoming_ports %}
  portin "{{ port.name }}" as {{ port.id }} {{ port.fill_color }}
{% endfor %}
{% for port in instance.outgoing_ports %}
  portout "{{ port.name }}" as {{ port.id }} {{ port.fill_color }}
{% endfor %}
}
{% endfor %}

{% for connector in view.assembly_connectors %}
{{ connector.source_id }} -{{ connector.line_style }}-> {{ connector.target_id }}
{% endfor %}
{% for connector in view.delegation_connectors %}
{{ connector.source_id }} ..{{ connector.line_style }}.> {{ connector.target_id }}
{% endfor %}

legend bottom
|=    |= SWC Type |
|<back:#d6e4ff>        </back>| Application SWC |
|<back:#d8f3dc>        </back>| Service SWC |
|<back:#ffe5b4>        </back>| Complex Device Driver |
|=    |= Port Type |
|<back:#b7efc5>        </back>| Provided S/R |
|<back:#9ec5fe>        </back>| Required S/R |
|<back:#fff3bf>        </back>| Provided C/S |
|<back:#ffcf99>        </back>| Required C/S |
|<back:#e0bbff>        </back>| Provided ModeSwitch |
|<back:#ffb3c6>        </back>| Required ModeSwitch |
|=    |= Connector Type |= Description |
|<back:#2e8b57>        </back>| Sender/Receiver connector |
|<back:#c77d00>        </back>| Client/Server connector |
|<back:#8e44ad>        </back>| ModeSwitch connector |
endlegend
@enduml
