<?xml version="1.0" encoding="UTF-8"?>
<AUTOSAR xmlns="http://autosar.org/schema/r4.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://autosar.org/schema/r4.0 AUTOSAR_4-2-2.xsd">
  <AR-PACKAGES>
    <AR-PACKAGE>
      <SHORT-NAME>{{ root_pkg }}</SHORT-NAME>
      <AR-PACKAGES>

        <AR-PACKAGE>
          <SHORT-NAME>BaseTypes</SHORT-NAME>
          <ELEMENTS>
            {% for dt in base_types %}
            <SW-BASE-TYPE>
              <SHORT-NAME>{{ dt.name }}</SHORT-NAME>
              {% if dt.bitLength is not none %}
              <BASE-TYPE-SIZE>{{ dt.bitLength }}</BASE-TYPE-SIZE>
              {% endif %}
              {% if dt.signedness == "signed" %}
              <BASE-TYPE-ENCODING>2C</BASE-TYPE-ENCODING>
              {% elif dt.signedness == "unsigned" %}
              <BASE-TYPE-ENCODING>NONE</BASE-TYPE-ENCODING>
              {% endif %}
              {% if dt.nativeDeclaration %}
              <NATIVE-DECLARATION>{{ dt.nativeDeclaration }}</NATIVE-DECLARATION>
              {% endif %}
            </SW-BASE-TYPE>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>ImplementationDataTypes</SHORT-NAME>
          <ELEMENTS>
            {% for dt in implementation_types %}
            <IMPLEMENTATION-DATA-TYPE>
              <SHORT-NAME>{{ dt.name }}</SHORT-NAME>
              {% if dt.is_struct %}
              <CATEGORY>STRUCTURE</CATEGORY>
              <SUB-ELEMENTS>
                {% for f in dt.fields %}
                <IMPLEMENTATION-DATA-TYPE-ELEMENT>
                  <SHORT-NAME>{{ f.name }}</SHORT-NAME>
                  {% set tref = type_trefs.get(f.typeRef) %}
                  <CATEGORY>TYPE_REFERENCE</CATEGORY>
                  <SW-DATA-DEF-PROPS>
                    <SW-DATA-DEF-PROPS-VARIANTS>
                      <SW-DATA-DEF-PROPS-CONDITIONAL>
                        <IMPLEMENTATION-DATA-TYPE-REF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ f.typeRef }}</IMPLEMENTATION-DATA-TYPE-REF>
                      </SW-DATA-DEF-PROPS-CONDITIONAL>
                    </SW-DATA-DEF-PROPS-VARIANTS>
                  </SW-DATA-DEF-PROPS>
                </IMPLEMENTATION-DATA-TYPE-ELEMENT>
                {% endfor %}
              </SUB-ELEMENTS>
              {% elif dt.is_array %}
              <CATEGORY>ARRAY</CATEGORY>
              <SUB-ELEMENTS>
                <IMPLEMENTATION-DATA-TYPE-ELEMENT>
                  <SHORT-NAME>{{ dt.name }}_Element</SHORT-NAME>
                  {% set tref = type_trefs.get(dt.elementTypeRef) %}
                  <TYPE-TREF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ dt.elementTypeRef }}</TYPE-TREF>
                  <ARRAY-SIZE>{{ dt.length }}</ARRAY-SIZE>
                </IMPLEMENTATION-DATA-TYPE-ELEMENT>
              </SUB-ELEMENTS>
              {% else %}
              <CATEGORY>TYPE_REFERENCE</CATEGORY>
              {% endif %}
            </IMPLEMENTATION-DATA-TYPE>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>ApplicationDataTypes</SHORT-NAME>
          <ELEMENTS>
            {% for dt in application_types %}
            <APPLICATION-PRIMITIVE-DATA-TYPE>
              <SHORT-NAME>{{ dt.name }}</SHORT-NAME>
              {% if dt.constraint %}
              <DATA-CONSTR-REF DEST="DATA-CONSTR">/{{ root_pkg }}/DataConstrs/DC_{{ dt.name }}</DATA-CONSTR-REF>
              {% endif %}
              {% if dt.unitRef %}
              <UNIT-REF DEST="UNIT">/{{ root_pkg }}/Units/{{ dt.unitRef }}</UNIT-REF>
              {% endif %}
              {% if dt.compuMethodRef %}
              <COMPU-METHOD-REF DEST="COMPU-METHOD">/{{ root_pkg }}/CompuMethods/{{ dt.compuMethodRef }}</COMPU-METHOD-REF>
              {% endif %}
            </APPLICATION-PRIMITIVE-DATA-TYPE>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>DataConstrs</SHORT-NAME>
          <ELEMENTS>
            {% for dt in application_types if dt.constraint %}
            <DATA-CONSTR>
              <SHORT-NAME>DC_{{ dt.name }}</SHORT-NAME>
              <DATA-CONSTR-RULES>
                <DATA-CONSTR-RULE>
                  <INTERNAL-CONSTRS>
                    <LOWER-LIMIT INTERVAL-TYPE="CLOSED">{{ dt.constraint.min }}</LOWER-LIMIT>
                    <UPPER-LIMIT INTERVAL-TYPE="CLOSED">{{ dt.constraint.max }}</UPPER-LIMIT>
                  </INTERNAL-CONSTRS>
                </DATA-CONSTR-RULE>
              </DATA-CONSTR-RULES>
            </DATA-CONSTR>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Units</SHORT-NAME>
          <ELEMENTS>
            {% for u in units %}
            <UNIT>
              <SHORT-NAME>{{ u.name }}</SHORT-NAME>
              {% if u.displayName %}
              <DISPLAY-NAME>{{ u.displayName }}</DISPLAY-NAME>
              {% endif %}
            </UNIT>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>CompuMethods</SHORT-NAME>
          <ELEMENTS>
            {% for c in compu_methods %}
            <COMPU-METHOD>
              <SHORT-NAME>{{ c.name }}</SHORT-NAME>
              <CATEGORY>{{ c.category }}</CATEGORY>
              {% if c.category == "linear" %}
              <UNIT-REF DEST="UNIT">/{{ root_pkg }}/Units/{{ c.unitRef }}</UNIT-REF>
              <FACTOR>{{ c.factor }}</FACTOR>
              <OFFSET>{{ c.offset }}</OFFSET>
              {% if c.physMin is not none %}
              <PHYS-MIN>{{ c.physMin }}</PHYS-MIN>
              {% endif %}
              {% if c.physMax is not none %}
              <PHYS-MAX>{{ c.physMax }}</PHYS-MAX>
              {% endif %}
              {% elif c.category == "textTable" %}
              <COMPU-INTERNAL-TO-PHYS>
                <COMPU-SCALES>
                  {% for entry in c.entries %}
                  <COMPU-SCALE>
                    <LOWER-LIMIT>{{ entry.value }}</LOWER-LIMIT>
                    <UPPER-LIMIT>{{ entry.value }}</UPPER-LIMIT>
                    <COMPU-CONST>
                      <VT>{{ entry.label }}</VT>
                    </COMPU-CONST>
                  </COMPU-SCALE>
                  {% endfor %}
                </COMPU-SCALES>
              </COMPU-INTERNAL-TO-PHYS>
              {% endif %}
            </COMPU-METHOD>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Modes</SHORT-NAME>
          <ELEMENTS>
            {% for group in mode_declaration_groups %}
            <MODE-DECLARATION-GROUP>
              <SHORT-NAME>{{ group.name }}</SHORT-NAME>
              <CATEGORY>EXPLICIT_ORDER</CATEGORY>
              <INITIAL-MODE-REF DEST="MODE-DECLARATION">/{{ root_pkg }}/Modes/{{ group.name }}/{{ group.initialMode }}</INITIAL-MODE-REF>
              <MODE-DECLARATIONS>
                {% for mode in group.modes %}
                <MODE-DECLARATION>
                  <SHORT-NAME>{{ mode.name }}</SHORT-NAME>
                  <VALUE>{{ loop.index0 }}</VALUE>
                </MODE-DECLARATION>
                {% endfor %}
              </MODE-DECLARATIONS>
            </MODE-DECLARATION-GROUP>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Interfaces</SHORT-NAME>
          <ELEMENTS>

            {% for itf in sr_interfaces %}
            <SENDER-RECEIVER-INTERFACE>
              <SHORT-NAME>{{ itf.name }}</SHORT-NAME>
              <DATA-ELEMENTS>
                {% for de in itf.dataElements %}
                <VARIABLE-DATA-PROTOTYPE>
                  <SHORT-NAME>{{ de.name }}</SHORT-NAME>
                  {% set tref = type_trefs.get(de.typeRef) %}
                  <TYPE-TREF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ de.typeRef }}</TYPE-TREF>
                </VARIABLE-DATA-PROTOTYPE>
                {% endfor %}
              </DATA-ELEMENTS>
            </SENDER-RECEIVER-INTERFACE>
            {% endfor %}

            {% for itf in cs_interfaces %}
            <CLIENT-SERVER-INTERFACE>
              <SHORT-NAME>{{ itf.name }}</SHORT-NAME>
              {% if cs_interface_errors[itf.name] %}
              <POSSIBLE-ERRORS>
                {% for possible_error in cs_interface_errors[itf.name] %}
                <APPLICATION-ERROR>
                  <SHORT-NAME>{{ possible_error.name }}</SHORT-NAME>
                  {% if possible_error.code is not none %}
                  <ERROR-CODE>{{ possible_error.code }}</ERROR-CODE>
                  {% endif %}
                </APPLICATION-ERROR>
                {% endfor %}
              </POSSIBLE-ERRORS>
              {% endif %}
              <OPERATIONS>
                {% for op in itf.operations %}
                <CLIENT-SERVER-OPERATION>
                  <SHORT-NAME>{{ op.name }}</SHORT-NAME>
                  {% if op.arguments or op.returnType != "void" %}
                  <ARGUMENTS>
                    {% for arg in op.arguments %}
                    {% set tref = type_trefs.get(arg.typeRef) %}
                    <ARGUMENT-DATA-PROTOTYPE>
                      <SHORT-NAME>{{ arg.name }}</SHORT-NAME>
                      <TYPE-TREF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ arg.typeRef }}</TYPE-TREF>
                      <DIRECTION>{{ arg.direction | upper }}</DIRECTION>
                    </ARGUMENT-DATA-PROTOTYPE>
                    {% endfor %}
                    {% if op.returnType != "void" %}
                    {% set return_tref = type_trefs.get(op.returnType) %}
                    <ARGUMENT-DATA-PROTOTYPE>
                      <SHORT-NAME>ReturnValue</SHORT-NAME>
                      <TYPE-TREF DEST="{{ return_tref.dest if return_tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ return_tref.package if return_tref else 'ImplementationDataTypes' }}/{{ op.returnType }}</TYPE-TREF>
                      <DIRECTION>OUT</DIRECTION>
                    </ARGUMENT-DATA-PROTOTYPE>
                    {% endif %}
                  </ARGUMENTS>
                  {% endif %}
                  {% if op.possibleErrors %}
                  <POSSIBLE-ERROR-REFS>
                    {% for possible_error in op.possibleErrors %}
                    <POSSIBLE-ERROR-REF DEST="APPLICATION-ERROR">/{{ root_pkg }}/Interfaces/{{ itf.name }}/{{ possible_error.name }}</POSSIBLE-ERROR-REF>
                    {% endfor %}
                  </POSSIBLE-ERROR-REFS>
                  {% endif %}
                </CLIENT-SERVER-OPERATION>
                {% endfor %}
              </OPERATIONS>
            </CLIENT-SERVER-INTERFACE>
            {% endfor %}

          </ELEMENTS>
        </AR-PACKAGE>

      </AR-PACKAGES>
    </AR-PACKAGE>
  </AR-PACKAGES>
</AUTOSAR>
