<?xml version="1.0" encoding="UTF-8"?>
<AUTOSAR xmlns="http://autosar.org/schema/r4.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://autosar.org/schema/r4.0 AUTOSAR_4-2-2.xsd">
  <AR-PACKAGES>
    <AR-PACKAGE>
      <SHORT-NAME>{{ root_pkg }}</SHORT-NAME>
      <AR-PACKAGES>

        <AR-PACKAGE>
          <SHORT-NAME>Components</SHORT-NAME>
          <ELEMENTS>
            <{{ swc.component_type_tag }}>
              <SHORT-NAME>{{ swc.name }}</SHORT-NAME>

              <PORTS>
                {% for p in swc.ports %}
                  {% if p.direction == "provides" %}
                <P-PORT-PROTOTYPE>
                  <SHORT-NAME>{{ p.name }}</SHORT-NAME>
                  {% if p.interfaceType == "senderReceiver" %}
                  <PROVIDED-INTERFACE-TREF DEST="SENDER-RECEIVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ p.interfaceRef }}</PROVIDED-INTERFACE-TREF>
                  {% if p.comSpec %}
                  <PROVIDED-COM-SPECS>
                    {% if p.comSpec.mode == "queued" %}
                    <QUEUED-SENDER-COM-SPEC>
                      <QUEUE-LENGTH>{{ p.comSpec.queueLength }}</QUEUE-LENGTH>
                    </QUEUED-SENDER-COM-SPEC>
                    {% else %}
                    <NONQUEUED-SENDER-COM-SPEC>
                    </NONQUEUED-SENDER-COM-SPEC>
                    {% endif %}
                  </PROVIDED-COM-SPECS>
                  {% endif %}
                  {% elif p.interfaceType == "clientServer" %}
                  <PROVIDED-INTERFACE-TREF DEST="CLIENT-SERVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ p.interfaceRef }}</PROVIDED-INTERFACE-TREF>
                  {% if p.comSpec and p.comSpec.callMode %}
                  <PROVIDED-COM-SPECS>
                    <SERVER-COM-SPEC>
                      <CALL-MODE>{{ p.comSpec.callMode }}</CALL-MODE>
                      {% if p.comSpec.callMode == "synchronous" and p.comSpec.timeoutMs is not none %}
                      <TIMEOUT-MS>{{ p.comSpec.timeoutMs }}</TIMEOUT-MS>
                      {% endif %}
                    </SERVER-COM-SPEC>
                  </PROVIDED-COM-SPECS>
                  {% endif %}
                  {% elif p.interfaceType == "modeSwitch" %}
                  <PROVIDED-INTERFACE-TREF DEST="MODE-SWITCH-INTERFACE">/{{ root_pkg }}/Interfaces/{{ p.interfaceRef }}</PROVIDED-INTERFACE-TREF>
                  {% endif %}
                </P-PORT-PROTOTYPE>
                  {% else %}
                <R-PORT-PROTOTYPE>
                  <SHORT-NAME>{{ p.name }}</SHORT-NAME>
                  {% if p.interfaceType == "senderReceiver" %}
                  <REQUIRED-INTERFACE-TREF DEST="SENDER-RECEIVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ p.interfaceRef }}</REQUIRED-INTERFACE-TREF>
                  {% if p.comSpec %}
                  <REQUIRED-COM-SPECS>
                    {% if p.comSpec.mode == "queued" %}
                    <QUEUED-RECEIVER-COM-SPEC>
                      <QUEUE-LENGTH>{{ p.comSpec.queueLength }}</QUEUE-LENGTH>
                    </QUEUED-RECEIVER-COM-SPEC>
                    {% else %}
                    <NONQUEUED-RECEIVER-COM-SPEC>
                      {% if p.comSpec.mode == "explicit" %}
                      <ENABLE-UPDATE>true</ENABLE-UPDATE>
                      {% elif p.comSpec.mode == "implicit" %}
                      <ENABLE-UPDATE>false</ENABLE-UPDATE>
                      {% endif %}
                    </NONQUEUED-RECEIVER-COM-SPEC>
                    {% endif %}
                  </REQUIRED-COM-SPECS>
                  {% endif %}
                  {% elif p.interfaceType == "clientServer" %}
                  <REQUIRED-INTERFACE-TREF DEST="CLIENT-SERVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ p.interfaceRef }}</REQUIRED-INTERFACE-TREF>
                  {% if p.comSpec and p.comSpec.callMode %}
                  <REQUIRED-COM-SPECS>
                    <CLIENT-COM-SPEC>
                      <CALL-MODE>{{ p.comSpec.callMode }}</CALL-MODE>
                      {% if p.comSpec.callMode == "synchronous" and p.comSpec.timeoutMs is not none %}
                      <TIMEOUT-MS>{{ p.comSpec.timeoutMs }}</TIMEOUT-MS>
                      {% endif %}
                    </CLIENT-COM-SPEC>
                  </REQUIRED-COM-SPECS>
                  {% endif %}
                  {% elif p.interfaceType == "modeSwitch" %}
                  <REQUIRED-INTERFACE-TREF DEST="MODE-SWITCH-INTERFACE">/{{ root_pkg }}/Interfaces/{{ p.interfaceRef }}</REQUIRED-INTERFACE-TREF>
                  {% endif %}
                </R-PORT-PROTOTYPE>
                  {% endif %}
                {% endfor %}
              </PORTS>

              <INTERNAL-BEHAVIORS>
                <SWC-INTERNAL-BEHAVIOR>
                  <SHORT-NAME>IB_{{ swc.name }}</SHORT-NAME>

                  <RUNNABLES>
                    {% for r in swc.runnables %}
                    <RUNNABLE-ENTITY>
                      <SHORT-NAME>{{ r.name }}</SHORT-NAME>
                      <CAN-BE-INVOKED-CONCURRENTLY>false</CAN-BE-INVOKED-CONCURRENTLY>
                      {% if r.reads %}
                      <DATA-RECEIVE-POINT-BY-ARGUMENTS>
                        {% for read in r.reads %}
                        <VARIABLE-ACCESS>
                          <SHORT-NAME>DRP_{{ read.port }}_{{ read.dataElement }}</SHORT-NAME>
                          <ACCESSED-VARIABLE>
                            <AUTOSAR-VARIABLE-IREF>
                              <PORT-PROTOTYPE-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ read.port }}</PORT-PROTOTYPE-REF>
                              {% set read_port = (swc.ports | selectattr("name", "equalto", read.port) | list | first) %}
                              <TARGET-DATA-PROTOTYPE-REF DEST="VARIABLE-DATA-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ read_port.interfaceRef if read_port else '' }}/{{ read.dataElement }}</TARGET-DATA-PROTOTYPE-REF>
                            </AUTOSAR-VARIABLE-IREF>
                          </ACCESSED-VARIABLE>
                        </VARIABLE-ACCESS>
                        {% endfor %}
                      </DATA-RECEIVE-POINT-BY-ARGUMENTS>
                      {% endif %}
                      {% if r.writes %}
                      <DATA-SEND-POINTS>
                        {% for write in r.writes %}
                        <VARIABLE-ACCESS>
                          <SHORT-NAME>DSP_{{ write.port }}_{{ write.dataElement }}</SHORT-NAME>
                          <ACCESSED-VARIABLE>
                            <AUTOSAR-VARIABLE-IREF>
                              <PORT-PROTOTYPE-REF DEST="P-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ write.port }}</PORT-PROTOTYPE-REF>
                              {% set write_port = (swc.ports | selectattr("name", "equalto", write.port) | list | first) %}
                              <TARGET-DATA-PROTOTYPE-REF DEST="VARIABLE-DATA-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ write_port.interfaceRef if write_port else '' }}/{{ write.dataElement }}</TARGET-DATA-PROTOTYPE-REF>
                            </AUTOSAR-VARIABLE-IREF>
                          </ACCESSED-VARIABLE>
                        </VARIABLE-ACCESS>
                        {% endfor %}
                      </DATA-SEND-POINTS>
                      {% endif %}
                      {% if r.calls %}
                      <SERVER-CALL-POINTS>
                        {% for call in r.calls %}
                        {% set call_port = (swc.ports | selectattr("name", "equalto", call.port) | list | first) %}
                        {% set call_mode = call_port.comSpec.callMode if call_port and call_port.comSpec and call_port.comSpec.callMode else "synchronous" %}
                        {% if call_mode == "asynchronous" %}
                        <ASYNCHRONOUS-SERVER-CALL-POINT>
                          <SHORT-NAME>SCP_{{ call.port }}_{{ call.operation }}</SHORT-NAME>
                          <OPERATION-IREF>
                            <CONTEXT-R-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ call.port }}</CONTEXT-R-PORT-REF>
                            <TARGET-REQUIRED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ call_port.interfaceRef if call_port else '' }}/{{ call.operation }}</TARGET-REQUIRED-OPERATION-REF>
                          </OPERATION-IREF>
                        </ASYNCHRONOUS-SERVER-CALL-POINT>
                        {% else %}
                        <SYNCHRONOUS-SERVER-CALL-POINT>
                          <SHORT-NAME>SCP_{{ call.port }}_{{ call.operation }}</SHORT-NAME>
                          <OPERATION-IREF>
                            <CONTEXT-R-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ call.port }}</CONTEXT-R-PORT-REF>
                            <TARGET-REQUIRED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ call_port.interfaceRef if call_port else '' }}/{{ call.operation }}</TARGET-REQUIRED-OPERATION-REF>
                          </OPERATION-IREF>
                        </SYNCHRONOUS-SERVER-CALL-POINT>
                        {% endif %}
                        {% endfor %}
                      </SERVER-CALL-POINTS>
                      {% endif %}
                      {% if r.raisesErrors %}
                      <RAISED-APPLICATION-ERROR-REFS>
                        {% for raised in r.raisesErrors %}
                        {% set bound_event = (r.operationInvokedEvents | selectattr("operation", "equalto", raised.operation) | list | first) %}
                        {% set bound_port = (swc.ports | selectattr("name", "equalto", bound_event.port) | list | first) if bound_event else none %}
                        {% if bound_event and bound_port %}
                        <RAISED-APPLICATION-ERROR-REF>
                          <CONTEXT-P-PORT-REF DEST="P-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ bound_event.port }}</CONTEXT-P-PORT-REF>
                          <TARGET-PROVIDED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ bound_port.interfaceRef }}/{{ raised.operation }}</TARGET-PROVIDED-OPERATION-REF>
                          <TARGET-APPLICATION-ERROR-REF DEST="APPLICATION-ERROR">/{{ root_pkg }}/Interfaces/{{ bound_port.interfaceRef }}/{{ raised.error }}</TARGET-APPLICATION-ERROR-REF>
                        </RAISED-APPLICATION-ERROR-REF>
                        {% endif %}
                        {% endfor %}
                      </RAISED-APPLICATION-ERROR-REFS>
                      {% endif %}
                    </RUNNABLE-ENTITY>
                    {% endfor %}
                  </RUNNABLES>

                  <EVENTS>
                    {% for r in swc.runnables %}
                    {% if r.initEvent %}
                    <INIT-EVENT>
                      <SHORT-NAME>IE_{{ r.name }}</SHORT-NAME>
                      <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
                    </INIT-EVENT>
                    {% endif %}
                    {% if r.timingEventMs is not none %}
                    <TIMING-EVENT>
                      <SHORT-NAME>TE_{{ r.name }}</SHORT-NAME>
                      <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
                      <PERIOD>{{ (r.timingEventMs / 1000.0) }}</PERIOD>
                    </TIMING-EVENT>
                    {% endif %}
                    {% for oie in r.operationInvokedEvents %}
                    {% set oie_port = (swc.ports | selectattr("name", "equalto", oie.port) | list | first) %}
                    <OPERATION-INVOKED-EVENT>
                      <SHORT-NAME>OIE_{{ r.name }}_{{ oie.port }}_{{ oie.operation }}</SHORT-NAME>
                      <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
                      <OPERATION-IREF>
                        <CONTEXT-P-PORT-REF DEST="P-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ oie.port }}</CONTEXT-P-PORT-REF>
                        <TARGET-PROVIDED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ oie_port.interfaceRef if oie_port else '' }}/{{ oie.operation }}</TARGET-PROVIDED-OPERATION-REF>
                      </OPERATION-IREF>
                    </OPERATION-INVOKED-EVENT>
                    {% endfor %}
                    {% for dre in r.dataReceiveEvents %}
                    {% set dre_port = (swc.ports | selectattr("name", "equalto", dre.port) | list | first) %}
                    <DATA-RECEIVE-EVENT>
                      <SHORT-NAME>DRE_{{ r.name }}_{{ dre.port }}_{{ dre.dataElement }}</SHORT-NAME>
                      <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
                      <DATA-IREF>
                        <CONTEXT-R-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ dre.port }}</CONTEXT-R-PORT-REF>
                        <TARGET-DATA-ELEMENT-REF DEST="VARIABLE-DATA-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ dre_port.interfaceRef if dre_port else '' }}/{{ dre.dataElement }}</TARGET-DATA-ELEMENT-REF>
                      </DATA-IREF>
                    </DATA-RECEIVE-EVENT>
                    {% endfor %}
                    {% for mse in r.modeSwitchEvents %}
                    {% set mse_port = (swc.ports | selectattr("name", "equalto", mse.port) | list | first) %}
                    <MODE-SWITCH-EVENT>
                      <SHORT-NAME>MSE_{{ r.name }}_{{ mse.port }}_{{ mse.mode }}</SHORT-NAME>
                      <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
                      <MODE-IREFS>
                        <MODE-IREF>
                          <CONTEXT-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ mse.port }}</CONTEXT-PORT-REF>
                          <CONTEXT-MODE-DECLARATION-GROUP-PROTOTYPE-REF DEST="MODE-DECLARATION-GROUP-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ mse_port.interfaceRef if mse_port else '' }}/{{ mse_port.interfaceRef if mse_port else '' }}_ModeGroup</CONTEXT-MODE-DECLARATION-GROUP-PROTOTYPE-REF>
                          <TARGET-MODE-DECLARATION-REF DEST="MODE-DECLARATION">/{{ root_pkg }}/Modes/{{ mse_port.modeGroupRef if mse_port else '' }}/{{ mse.mode }}</TARGET-MODE-DECLARATION-REF>
                        </MODE-IREF>
                      </MODE-IREFS>
                    </MODE-SWITCH-EVENT>
                    {% endfor %}
                    {% endfor %}
                  </EVENTS>

                </SWC-INTERNAL-BEHAVIOR>
              </INTERNAL-BEHAVIORS>
            </{{ swc.component_type_tag }}>
          </ELEMENTS>
        </AR-PACKAGE>

      </AR-PACKAGES>
    </AR-PACKAGE>
  </AR-PACKAGES>
</AUTOSAR>
